<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- 부트스트랩5 CSS 링크 추가 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
        crossorigin="anonymous">
  <!-- 부트스트랩5 JS 링크 추가 -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
          crossorigin="anonymous"></script>
  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- basic.css -->
  <link rel="stylesheet" href="/css/basic.css">
  <!-- index.css -->
  <link rel="stylesheet" href="/css/index.css">
  <!-- sign.css -->
  <link rel="stylesheet" href="/css/sign.css">

  <title>My Feed</title>
</head>
<body>
<!-- 헤더 -->
<header th:replace="layout/headerFragment.html::headerFragment">
</header>

<!-- 메인 -->
<main>
  <div class="album py-5 bg-light">
    <div class="container">
      <div id="feedList" class="row justify-content-center"><!-- 피드 리스트(ajax에서 렌더링 후 추가) --></div>
      <div class="text-center">
        <button id="loadMoreBtn" class="btn btn-primary" type="button">더보기</button><!-- 더보기 버튼 -->
      </div>
    </div>
  </div>
</main>

<!-- 푸터 -->
<footer th:replace="layout/footerFragment.html::footerFragment">
</footer>

<!-- signIn 모달 -->
<div th:replace="layout/signFragment.html::signInFragment"></div>
<!-- signUp 모달 -->
<div th:replace="layout/signFragment.html::signUpFragment"></div>

<!-- searchEnter.js -->
<script th:inline="javascript" src="/js/searchEnter.js"></script>
<!-- myFeed.js -->
<script th:inline="javascript" th:src="@{/js/myFeed.js}"></script>
<script th:inline="javascript">
  let memberId = [[${memberDto.id}]];

  $(document).ready(function () {
    getMyFeeds(memberId);
  });

  document.querySelector('#loadMoreBtn').addEventListener('click', function () {
    getMyFeeds(memberId);
  })
</script>

</body>
</html>